<div class="col-md-12">
	<div class="modal fade" id="compose">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Compose Message</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="to">To:</label>
						<input type="text" class="form-control" name="to" /> <br />
						<label for="message">Message:</label>
						<textarea class="form-control" name="message"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>