<div class="col-md-3 well">
	<div class="col-md-12 padding-top-bottom-5em">
		<button class="btn btn-primary col-md-12" data-toggle="modal" data-target="#compose">Compose</button>
		<br /><br />
		<ul class="nav nav-pills nav-stacked" id="message-link">
			<li class="box-border {{in_link}}" role="inbox-link"><a href="../InboxController/index">Inbox</a></li>
			<li class="box-border {{sm_link}}" role="sentmail-link"><a href="../SentmailController/index">Sentmail</a></li>
			<li class="box-border {{dr_link}}" role="drafts-link"><a href="../DraftsController/index">Drafts</a></li>
		</ul>
	</div>
</div>