{{>../../common/header}}
<link rel="stylesheet" type="text/css" href="{{ASSETS}}/css/admin/messages.css" />
</head>
<body>
<div class="container margin-top20px">
	<div class="row">
		<!-- message modal -->
		{{>../common/message_modal}}

		<!-- compose modal -->
		{{>../common/compose_modal}}

		<!-- navigation -->
		{{>../common/navigation}}

		<div class="col-md-12">
			<!-- messages link -> compose, inbox, sentmail, drafts -->
			{{>../common/message_link}}

			<div class="col-md-9 well">
				<!-- search -->
				<div class="col-md-5 col-md-push-7">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Type messager here" />
						<span class="input-group-btn">
							<button class="btn btn-default">Search</button>
						</span>
					</div>
				</div><br />

				<!-- actions for list with mark/check -->
				<div class="col-md-12">
					<div class="btn-group">
						<button class="btn btn-danger">Delete</span></button>
						<button class="btn btn-success">Save in drafts</button>
					</div>
					<span class="fa fa-question-circle fa-2x fa-color_twitter" data-toggle="tooltip" data-placement="top" title="Perform these action all with mark/check"></span>
				</div><br />

				<!-- table list -->
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-striped">
						<thead>
							<tr>
								<th><input type="checkbox" class="checkbox-all" /></th>
								<th>Nag Message</th>
								<th>Messages</th>
								<th>Date | Time Created</th>
							</tr>
						</thead>
						<tbody>
							{{#data}}
							<tr class="tr-pagination">
								<td><input type="checkbox" class="checkbox-1" /></td>
								<td data-toggle="modal" data-target="#message" class="pointer">Rodz3rd</td>
								<td data-toggle="modal" data-target="#message" class="pointer">
									Hello <span class="fa fa-lock"></span>
								</td>
								<td>12-20-15 | 12:00:00</td>
							</tr>
							{{/data}}
						</tbody>
					</table>

					<ul class="pagination margin-top-0 pull-right">
						{{#pagination}}
						<li {{active}}><a href="#">{{num}}</a></li>
						{{/pagination}}
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>
{{>../../common/footer}}